<!DOCTYPE html>
<html>
<head>
    <title>CarRental</title>
    @Styles.Render("~/Content/style.css")
</head>
<body>
<header>
    <div class="col-50">
        <div class="logo-text">
            <p>CarRental</p>
        </div>
    </div>
    <div class="col-50">
        <div class="menu-item">
            @Html.ActionLink("Home", "Index", "Home")
        </div>
        <div class="menu-item">
            @Html.ActionLink("Catalog", "Index", "Catalog")
        </div>
        <div class="menu-item">
            <p>About us</p>
        </div>
        <div class="menu-item">
            @if (User.Identity.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {@id = "logout-form"}))
                {
                    @Html.AntiForgeryToken()
                    <a id="submit-logout">Log Off</a>
                }
            }
            else
            {
                @Html.ActionLink("Log In", "Login", "Account")
            }
        </div>
    </div>
</header>
<main>
    @RenderBody()
</main>
<footer>

</footer>
<script>
    let submit = document.querySelector("#submit-logout");
    if(submit != null){
        submit.style.cursor = "pointer";
        submit.addEventListener("click", function() {
            document.querySelector("#logout-form").submit();
        });
    }
</script>
@Scripts.Render("~/bundles/jquery")

</body>
</html>