<!DOCTYPE html>
<html>
<head>
    <title>CarRental</title>
    @Styles.Render("~/Content/style.css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
<header>
    <div class="col-50">
        <div class="logo-text">
            <p>
                <a href="/">CarRental</a>
            </p>
        </div>
    </div>
    <div class="col-50">
        <div class="menu-item">
            @Html.ActionLink("Main", "Index", "Admin")
        </div>
        <div class="menu-item">
            @Html.ActionLink("Orders", "Orders", "OrderAdmin")
        </div>
        <div class="menu-item">
            @Html.ActionLink("Cars", "Cars", "CarAdmin")
        </div>
        <div class="menu-item">
            @Html.ActionLink("Users", "Users", "UserAdmin")
        </div>
    </div>
</header>
<main>
    @RenderBody()
</main>
<footer>
    <div class="footer-block">
        All Rights Reserved
    </div>
</footer>
</body>
</html>