@model System.Collections.Generic.IEnumerable<BusinessLayer.Models.Car>

<table class="users-table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Company</th>
        <th>Class</th>
        <th>Price</th>
        <th>Image</th>
        <th>Options</th>
        <th>Transmission</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var car in Model)
    {
        <tr>
            <td>@car.Id</td>
            <td>@car.Name</td>
            <td>@car.Company</td>
            <td>@car.Class</td>
            <td>@car.Price</td>
            <td>@car.Image</td>
            <td>@car.Options</td>
            <td>@car.Transmission</td>

            <td>
                <div class="order-image">
                    <a href="@Url.Action("EditCar")?id=@car.Id">
                        <img src="~/Content/Images/support.png">
                    </a>
                </div>
            </td>
            <td>
                <div class="order-image delete" value="@car.Id">
                    <img src="~/Content/Images/trash.png">
                </div>
            </td>
        </tr>
    }
</table>