@model IEnumerable<BusinessLayer.Models.Car>
@{ Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; }

@Styles.Render("~/Content/adminstyle.css")

<div class="add-section">
    <div class="add-user-link">
        @* <img src="https://img.icons8.com/ios-glyphs/30/000000/plus-math.png"> *@
        <a href='@Url.Action("AddCar", "Admin")' class="admin-link">Add new car</a>
    </div>
</div>
<div class="table-user-section" id="table-user-section"></div>

<script>
    load('@Url.Action("CarsList")');
    
    $(document).ready(function () {$("body").on("click", ".delete", deleteFunc)});
    
    function deleteFunc(){
        let value = this.getAttribute("value");
        let request = new XMLHttpRequest();
            request.open("GET", '@Url.Action("DeleteCar")?id=' + value);
            request.send();
            request.onreadystatechange = function(){
                if(request.readyState === 4 && request.status === 200){
                    load('@Url.Action("CarsList")');
                }
            }
    }
    
    function load(url){    
        let request = new XMLHttpRequest();
        request.open("POST", url);
        request.send();
        request.onreadystatechange = function(){
            if(request.readyState === 4 && request.status === 200){
                document.querySelector("#table-user-section").innerHTML = request.responseText;
            }
        }
    }
</script>