@{ Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; }

@model IEnumerable<ViewLayer.Models.ApplicationUserViewModel>
@Styles.Render("~/Content/adminstyle.css")

<div class="add-section">
    <div class="add-user-link">
        <a href='@Url.Action("AddUser", "Admin")' class="admin-link">Add new user</a>
    </div>
</div>
<div class="table-user-section" id="table-user-section"></div>

<script>
    load('@Url.Action("UsersList")');
        
    $(document).ready(function () {$("body").on("click", ".delete", deleteFunc)});
    
    function deleteFunc(){
        let value = this.getAttribute("value");
        let request = new XMLHttpRequest();
            request.open("GET", '@Url.Action("DeleteUser")?id=' + value);
            request.send();
            request.onreadystatechange = function(){
                if(request.readyState === 4 && request.status === 200){
                    load('@Url.Action("UsersList")');
                }
            }
    }
    
    function load(url){    
        let request = new XMLHttpRequest();
        request.open("POST", url);
        request.send();
        request.onreadystatechange = function(){
            if(request.readyState === 4 && request.status === 200){
                document.querySelector("#table-user-section").innerHTML = request.responseText;
            }
        }
    }


@*    // load('@Url.Action("UsersList")'); *@
    // let editButtons = document.querySelectorAll(".edit");
    // for(let button of editButtons){
    //     button.onclick = editFunc;
    // }
    //
    // let deleteButtons = document.querySelectorAll(".delete");
    // for(let button of deleteButtons){
    //     button.onclick = deleteFunc;
    // }
    //
    // function editFunc() {   
    //     let value = this.value;
@*    //     request('@Url.Action("EditUser")', value); *@
    // }
    //
    // function deleteFunc() {   
    //     let value = this.value;
@*    //     request('@Url.Action("DeleteUser")', value); *@
    // }
    //
    // function request(url, data){
    //     let request = new XMLHttpRequest();
    //     request.open("post", url);
    //     request.send(data);
    // }
    //
    // function load(url){    
    //     let request = new XMLHttpRequest();
    //     request.open("POST", url);
    //     request.send();
    //     request.onreadystatechange = function(){
    //         if(request.readyState === 4 && request.status === 200){
    //             document.querySelector("#table-user-section").innerHTML = request.responseText;
    //         }
    //     }
    // }
</script>