@{ Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; }

@model IEnumerable<ViewLayer.Models.ApplicationUserViewModel>
@Styles.Render("~/Content/adminstyle.css")

<div class="add-section">
    <div class="add-user-link">
        <a href='@Url.Action("AddUser", "Admin")' class="admin-link">Add new user</a>
    </div>
</div>
<div class="table-user-section" id="table-user-section"></div>

<div class="modal" id="decline-model-window">
    <div class="decline-close">
        <img src="~/Content/Images/close.png" alt="">
    </div>
    <div class="flex-container">
        <div class="decline-header"></div>
        <div class="add-roles">
            <select class="select-role" name="Role">
                @foreach (var role in (IEnumerable<string>) ViewBag.Roles)
                {
                    <option value="@role">@role</option>
                }
            </select>
            <div>
                <button type="button" class="role-add btn-admin">Add role</button>
            </div>
        </div>
    </div>
    <div class="role-list"></div>
    <div class="decline-btn-block">
        <button type="button" class="btn-register">Change</button>
    </div>
</div>

<script>
    load('@Url.Action("UsersList")');
    $(document).ready(function () {$("body").on("click", ".delete", deleteFunc)});
    $(document).ready(function () {$("body").on("click", ".change", changeFunc)});
    document.querySelector(".role-add").onclick = add;
    
    function deleteFunc(){
        let value = this.getAttribute("value");
        let request = new XMLHttpRequest();
        request.open("GET", '@Url.Action("DeleteUser")?id=' + value);
        request.send();
        request.onreadystatechange = function(){
            if(request.readyState === 4 && request.status === 200){
                load('@Url.Action("UsersList")');
            }
        }
    }
    
    function changeFunc() {
        let value =  this.getAttribute("value");
        deleteNodes(document.querySelector(".role-list"));
        let dwindow = document.querySelector("#decline-model-window");
        document.querySelector("#decline-model-window").setAttribute("value", value);
        document.querySelector(".btn-register").onclick = submit;
        //document.querySelector("body").addEventListener("click", checkClick);
        dwindow.style.display = "flex";
        requestRoles(value);
        document.querySelector(".decline-close img").onclick = function(){
            dwindow.style.display = "none";
            //document.querySelector("body").removeEventListener("click", checkClick);

        };
        
        document.querySelector("#decline-btn").onclick = function(){
            document.querySelector("#decline-model-window").style.display = "none";
            //document.querySelector("body").removeEventListener("click", checkClick);

        };  
        
    }
    
    function checkClick(event){
        let node = document.querySelector("#decline-model-window");
        if(event.target.parentNode != node && event.target.parentNode.parentNode != node){
            document.querySelector("#decline-model-window").style.display = "none";
            document.querySelector("body").removeEventListener("click", checkClick);

        }
    }
    
    function deleteNodes(node){
        while(node.firstChild){
            node.removeChild(node.firstChild);
        }
    }
    
    function load(url){    
        let request = new XMLHttpRequest();
        request.open("POST", url);
        request.send();
        request.onreadystatechange = function(){
            if(request.readyState === 4 && request.status === 200){
                document.querySelector("#table-user-section").innerHTML = request.responseText;
            }
        }
    }
    
    function requestRoles(id){
        let request = new XMLHttpRequest();
        request.open("GET", "@Url.Action("GetUsersRoles")?id=" + id);
        request.send();
        request.onreadystatechange = function() {
            if(request.readyState === 4 && request.status === 200){
                fillRoles(request.responseText);
            }
        }
    }
    
    function fillRoles(data) {
        let roles = JSON.parse(data);
        let list = document.querySelector(".role-list");
        for(let role of roles){
            addRole(list, role);
        }
    }
    
    function add(){
        let selectValue = document.querySelector(".select-role").value;
        let list = document.querySelector(".role-list");
        let nodeList = list.querySelectorAll(".role-row");
        
        let flag = true;
        for(let elem of nodeList){
            if(elem.getAttribute("id") === selectValue){
                flag = false;
                break;
            }
        }
        
        if(flag === false){
            return;
        }
        
        addRole(list, selectValue);
    }
    
    function addRole(list, selectValue) {
        let roleRow = document.createElement("div");
        roleRow.className = "role-row";
        roleRow.setAttribute("id", selectValue);
        
        let roleName = document.createElement("div");
        roleName.className = "role-name Roles";
        roleName.setAttribute("name", "Roles");
        roleName.setAttribute("value", selectValue);
        roleName.appendChild(document.createTextNode(selectValue));
        
        let rowDelete = document.createElement("div");
        let button = document.createElement("button");
        button.className = "role-delete btn-admin";
        button.setAttribute("type", "button");
        button.value = selectValue;
        button.appendChild(document.createTextNode("Delete"));
        button.onclick = deleteRole;
        
        rowDelete.appendChild(button);
        roleRow.appendChild(roleName);
        roleRow.appendChild(rowDelete);
        list.appendChild(roleRow); 
    }
    
    function deleteRole(){
        let value = this.value;
        let roleList = document.querySelector(".role-list");
        let select = document.getElementById(value);       
        roleList.removeChild(select);
    }    
    
    function submit(){
        let id = document.querySelector("#decline-model-window").getAttribute("value");
        let roles = document.querySelectorAll(".Roles");
        let roleNames = [id];
        
        for(let elem of roles){
            roleNames.push(elem.getAttribute("value"));
        }
        document.querySelector("#decline-model-window").style.display = "none";
        request('@Url.Action("ChangeRoles")', JSON.stringify(roleNames));
    }
    
    function request(url, data){
        let request = new XMLHttpRequest();
        request.open("post", url);
        request.send(data);
        request.onreadystatechange = function() {
            if(request.readyState === 4 && request.status === 200){
                load('@Url.Action("UsersList")');
            }
        }
    }
        
</script>